# based on https://github.com/MiyooCFW/gmenunx/blob/master/.github/workflows/c-cpp.yml
name: CI Build

on:
  push:
  pull_request:
  workflow_call:
    inputs:
      submodule:
        description: The directory of the submodule, if this workflow is being called on a submodule
        required: true
        type: string

jobs:   
  build-legacy:
    name: boot logos for MiyooCFW (uClibc)
    runs-on: ubuntu-22.04
    container:
      image: miyoocfw/toolchain-shared-uclibc:master
    steps:
    - run: echo "submodule ${{ inputs.submodule }} on ${{ github.event }}"
    - uses: actions/checkout@v3
    - if: inputs.submodule
      run: git submodule update --init --depth 1 -- ${{ inputs.submodule }}
    - name: build all logos
      run: |
        cd ${{ inputs.submodule || '.' }} && mkdir bootlogo
        make -f Makefile.bittboy ; mkdir bootlogo/bittboy ; cp boot-logo ./bootlogo/bittboy ; make -f Makefile clean
        make -f Makefile.pocketgo ; mkdir bootlogo/pocketgo ; cp boot-logo ./bootlogo/pocketgo ; make -f Makefile clean
        make -f Makefile.powkiddy ; mkdir bootlogo/powkiddy ; cp boot-logo ./bootlogo/powkiddy ; make -f Makefile clean
        make -f Makefile.miyoo ; mkdir bootlogo/miyoo ; cp boot-logo ./bootlogo/miyoo ; make -f Makefile clean
        make -f Makefile.generic ; mkdir bootlogo/generic ; cp boot-logo ./bootlogo/generic ; make -f Makefile clean
    - uses: actions/upload-artifact@v3
      with:
        name: Boot-logos (uClibc)
        path: ${{ inputs.submodule || '.' }}/bootlogo
        if-no-files-found: error # 'error', 'warn', 'ignore'; defaults to `warn`

  build-modern:
    name: boot logos for MiyooCFW (musl)
    runs-on: ubuntu-22.04
    container:
      image: miyoocfw/toolchain-shared-musl:master
    steps:
    - run: echo "submodule ${{ inputs.submodule }} on ${{ github.event }}"
    - uses: actions/checkout@v3
    - if: inputs.submodule
      run: git submodule update --init --depth 1 -- ${{ inputs.submodule }}
    - name: build all logos
      run: |
        cd ${{ inputs.submodule || '.' }} && mkdir bootlogo
        make -f Makefile.bittboy ; mkdir bootlogo/bittboy ; cp boot-logo ./bootlogo/bittboy ; make -f Makefile clean
        make -f Makefile.pocketgo ; mkdir bootlogo/pocketgo ; cp boot-logo ./bootlogo/pocketgo ; make -f Makefile clean
        make -f Makefile.powkiddy ; mkdir bootlogo/powkiddy ; cp boot-logo ./bootlogo/powkiddy ; make -f Makefile clean
        make -f Makefile.miyoo ; mkdir bootlogo/miyoo ; cp boot-logo ./bootlogo/miyoo ; make -f Makefile clean
        make -f Makefile.generic ; mkdir bootlogo/generic ; cp boot-logo ./bootlogo/generic ; make -f Makefile clean
    - uses: actions/upload-artifact@v3
      with:
        name: Boot-logos (musl)
        path: ${{ inputs.submodule || '.' }}/bootlogo
        if-no-files-found: error # 'error', 'warn', 'ignore'; defaults to `warn`
